.container {
    /* height: 100vh; */
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr; */
    gap: .2rem .2rem;
    grid-auto-flow: row;
    grid-template-areas:
        "userName balance"
        "card-id topUpButton"
        "maschineName maschineName"
        "shopAddress shopAddress"
        "state state"
        "price price"
        "detergent softener"
        "calcPrice calcPrice"
        "payPalButton payPalButton"
        "creditButton creditButton";
}

@keyframes myFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bcard {
    display: grid;
    grid-auto-flow: row;
    gap: 0px 0px;
    border-radius: .3rem;
    background-color: rgba(32, 32, 32, 0.6);
    box-shadow: 0px 5px 10px 3px rgba(72, 72, 72, 0.5);
    color: white;
}

.user {
    grid-row: 1 span 2;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr .6fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "userName text balance"
        "card-id topUpButton topUpButton";
}

.userName {
    padding-left: var(--user-padding-left);
    grid-area: userName;
    margin: auto;
    margin-left: 0;
}

.adminUser {
    padding-left: var(--user-padding-left);
    grid-row: 1 / span 2;
    grid-column: 1;
    margin: auto;
    margin-left: 0;
}

.adminConfig {
    grid-row: 1 / span 2;
    grid-column: 3;
    margin: auto;
    margin-right: .5rem;
}

.anonym {
    grid-row: 1 / span 2;
    grid-column: 1 /span 3;
    margin: auto;
    text-align: center;
}

.text {
    grid-area: text;
    text-align: right;
    margin: auto;
    margin-right: .5rem;
}

.balance {
    grid-area: balance;
    text-align: right;
    padding-right: var(--user-padding-right);
    font-size: 2rem;
}

.glowing-text {
    animation: glowing 3s infinite;
}

@keyframes glowing {
    0% {
        text-shadow: none;
        color: #fff;
        /* Normal text color */
    }

    30% {
        text-shadow: 0 0 10px #98cdff, 0 0 20px #fff, 0 0 30px rgb(248, 255, 154), 0 0 40px rgb(255, 201, 119), 0 0 50px rgb(255, 128, 69), 0 0 60px rgb(253, 39, 39);
        color: #fff;
        /* Bright glowing text color */
    }

    100% {
        text-shadow: none;
        color: #fff;
        /* Back to normal */
    }
}



.admin-config {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    justify-self: right;
}

.card-id {
    padding-left: var(--user-padding-left);
    grid-area: card-id;
    margin: auto;
    margin-left: 0;

}

.topUpButton {
    grid-area: topUpButton;
    text-align: right;
    padding-right: var(--user-padding-right);

}

.maschineName {
    grid-area: maschineName;
    text-align: center;
    font-size: 2rem;
}

.shopAddress {
    grid-area: shopAddress;
    text-align: center;
}

.state {
    grid-area: state;
    text-align: center;
    font-size: 2rem;
}

.frei {
    color: rgb(0, 0, 160);
}

.besetzt {
    color: rgb(160, 0, 0);
}

.bezahlt {
    color: rgb(0, 160, 0);
}

.selection {
    max-height: 8rem;
    grid-row: 7;
    grid-column: span 3;
    grid-template-columns: 1fr .2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "detergent . softener";
}

.info {
    font-size: 1.5rem;
}

.detergent {
    padding-left: 1rem;
    grid-area: detergent;
    justify-items: center;
    display: grid;
}

.dry-time-container {
    height: 5.4rem;
    padding: .4rem;
    grid-row: 7;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
        "title title title"
        "dry-time-minus dry-time dry-time-plus";
}

.dry-time-title {
    grid-area: title;
    text-align: center;
}

.dry-time-minus {
    grid-area: dry-time-minus;
    justify-self: center;
}

.dry-time {
    grid-area: dry-time;
    text-align: center;
}

.dry-time-plus {
    grid-area: dry-time-plus;
    justify-self: center;
}

.softener {
    grid-area: softener;
    justify-items: center;
    display: grid;
}

.price {
    grid-area: price;
    font-size: 2rem;
    text-align: center;
}

.calcPrice {
    grid-area: calcPrice;
    font-size: 2rem;
    margin: auto;

}

.payedInfo {
    position: absolute;
    grid-row: 9/11;
    left: 50%;
    bottom: .6rem;
    transform: translateX(-50%) scale(0);
    color: rgb(246, 255, 175);
    background-color: rgb(0, 85, 0);
    font-size: 1.5rem;
    border-radius: .3rem;
    margin-top: .5rem;
    width: 95%;
    height: 90%;
    box-shadow: 0px 5px 10px 3px rgba(72, 72, 72, 0.5);
    animation: bounceIn 0.5s ease-out forwards;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bounceIn {
    0% {
        transform: translateX(-50%) scale(0);
    }

    20% {
        transform: translateX(-50%) scale(1.2);
    }

    60% {
        transform: translateX(-50%) scale(0.95);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

.payPalButton {
    grid-area: payPalButton;
    margin-top: auto;
    height: 62px;
}

.creditButton {
    grid-area: creditButton;
    margin-top: auto;
}

.customer {
    width: 100%;
    border-radius: .4rem;
}

.customer.v-card-actions {
    background: rgb(2, 16, 4) !important;
}



.v-btn.v-btn--density-default {
    background: rgb(255 255 255 / 65%) !important;
    color: black;
}

.v-btn--variant-elevated,
.v-btn--variant-flat {
    background: rgb(31 157 53) !important;
}

.error-dialog {
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    background-color: rgba(0, 0, 0, 0.762);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}